*{
    box-sizing: border-box;
    margin: 0;
    font-family:cursive;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("/img/new2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#logo{
    position: absolute;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
}
#icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#restraunt{
    color:white;
    font-size: 27px;
    font-family:cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content_page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
#button_div{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin: 10px -10px;
}
#add_table{
   
    height: 30px;
    cursor: pointer;
    border-style: none;
    background-color:greenyellow;
    border-radius: 10px;
    font-family: cursive;
    margin-right: 20px;
}
#table_container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow-x:scroll;
    flex-wrap: wrap;
    scrollbar-width: none;
}
#table_div{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}
#div_img{
    width: 100%;
    height: 100%;
    object-fit: 100% 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
#table_dialog{
    width: 350px;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    padding: 0;
}
form{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form_ele{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input{
    width: 50%;
}
.label{
    width: 50%;
}

#top-div{
    width: 100%;background-color:aqua;height: 40px;border-bottom: 2px solid black;
}
#add_label{
    width: 50%;padding: 8px;font-family: cursive;
}
#cross-btn{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
#header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
@media screen and (max-width:635px){
    #add_table{
        width: 100px;
        font-size: 10px;
    }
    #header{
        width: 100%;
        height: 20%;
       }
}
@media screen and (max-width:320px){
    #restraunt{
     font-size: 25px;
    }
    #logo{
        height: 100px;
    }
 }
 @media screen and (max-width:246px){
    #header{
        flex-direction: column;
    }
    #logo{
        width: 100%;
    }
    #button_div{
        width: 100%;
    }
    #restraunt{
        font-size: 15px;
       }
 }
 @media screen and (max-width:174px){
    #header{
        height: 33%;
    }
         #restraunt{
        align-items: flex-start;
          font-size: 15px;
          word-break: break-all;
         }
         #logo{
          width: 100%;
      }
 }
@media screen and (max-width:106px){
    #restraunt{
        font-size: 10px;
        word-break: break-all;
       }
       #button_div{
        margin: 0;
       }
       #add_table{
        width: 100%;
        height: 50px;
        padding: 0;
        margin: 0;
      }
      p{
        word-break: break-all;
      }
}
 