*{
    box-sizing: border-box;
    margin: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("/img/ai-generated-beautuful-fast-food-background-with-copy-space-free-photo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-img{
    width: 80%;
    height: 80%;
}

#restraunt{
    width: 90%;
    color:white;
    font-size: 27px;
    font-family:cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    position: absolute;
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
}
#line{
    font-size: 20px;
    color: white;
    font-family:cursive;
}
#welcome{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    font-family:cursive;
}
#welcome_lines{
    position: absolute;
    top: 35%;
    left: 3%;
}
#book_now{
    border-style: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color:darkcyan;
    color: white;
    font-family:cursive;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}
#book_now:hover{
    background-color: rgb(0,139,139,0.6);
}
a{
    width: 50%;
}
#book_btn{
    width: 280px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    bottom: 35%;
    left: 3%;
}

@media screen  and (max-width:600px){
    #book_btn{
        position: absolute;
        bottom: 5%;
      }
}
@media screen and (max-width:450px){
    
    #logo{
        width: 100%;
        height: 25%;
        flex-direction: column;
    }
    
}
@media screen and (max-width:320px){
    #book_btn{
        height: 20%;
        width: 60%;
        flex-direction: column;
    }
    a{
        height: 100%;
        width: 100%;
    }
    #welcome{
        font-size: 40px;
    }
}
@media screen and (max-width:210px){
    #welcome{
        font-size: 22px;
    }
}
@media screen and (max-width:170px){
    #restraunt{
        height: 60%;
        font-size: 18px;
        width: 100%;
        padding: 5px;
    }
    #welcome{
        font-size: 22px;
    }
    #line{
        font-size: 15px;
    }
    #book_now{
        font-size: 15px;
    }
}
@media screen and (max-width:122px){
    #logo{
        height: 40%;
    }
    #restraunt{
        height: 60%;
        font-size: 15px;
        width: 100%;
        padding: 5px;
        word-break: break-all;
    }
    #welcome{
        width: 100%;
        font-size: 22px;
        word-break: break-all;
    }
    #line{
        width: 100%;
        font-size: 15px;
        word-break: break-all;
    }
    #book_now{
        width: 100%;
        font-size: 12px;
    }
    #book_btn{
        height: 12%;
        width: 80%;
    }
}
